<%= form_with(model: @list, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :list_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :list_description %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, id: :datepicker %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, TodoList::PRIORITY_RANGE.to_a,{}, id: :list_priority%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> 