<h1>New Todo</h1>

<%= form_with(model: @list, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :list_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :list_description %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', todo_lists_path %>