<div class="contianer">
  <p>
    <strong>Title:</strong>
    <%= @list.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @list.description %>
  </p>

  <p>
    <strong>Date to be completed:</strong>
    <%= @list.due_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= @list.priority %>
  </p>

  <div id="todo_items">
    <%= render @list.todo_items %>
    <div id="form">
      <%= render 'todo_items/form' %>
    </div>
  </div>

</div>
<%= link_to 'Edit', edit_todo_list_path(@list) %>
<%= link_to 'Delete',todo_lists_path  %>
<%= link_to 'Back', todo_lists_path %>

